h1 {
  color: aqua;
  background-color: red; b
}
span{
  color: blue; 
}
div{
  background-color: bisque;
}
h3{
  color: white;
  background-color: black;
}
h2{
  color: white;
  background-color: black;
}